<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello welcom eto home page you have successfully saved the data</h1>
    <h1>The roll no of the student is: {{rollno}}</h1>
    <h1>The Name of the student is {{name}} </h1>
    <h1>The pno of the student is {{pno}}</h1>
    <h1>The email of the student is {{email}}</h1>
    <h1>The class of the student is {{cls}}</h1>
</body>
</html>